div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

body{
    background-image: url("/image/boxed-water.jpg");
    background-size: cover;
}
#box1{
    height: 100px;
    background-image: url("/image/boxed-water.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
}